<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body style="background-color:#D5DBDB;">


<form action="register" method="POST">
    {% csrf_token %}

<!--    <input type="text" name="username" placeholder="Username"><br>-->

<!--    <input type="password" name="password" placeholder="Password"><br>-->

<!--    <input type="password" name="cpassword" placeholder="Confirm password"><br>-->
<!--    <br>-->
<!--    <a href="login"><input type="submit"></a>-->
    <h2>Register</h2>

    {{ form.as_p }}
    <a href="login"><button type="submit">Register</button></a>
</form>

{% for msg in messages %}
<h3>{{msg}}</h3>
{% endfor %}



</body>
</html>